@import './base.css';

#app {
  width: 100%;
  max-width: 95vw;
  margin: 0 auto;
  padding-block: 2rem;
  font-weight: normal;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  line-height: 1.2;
}

h1 {
  font-family: var(--font-blackletter);
}

a,
.green {
  text-decoration: none;
  color: var(--color-highlight);
  transition: 0.4s;
  padding: 3px;
}
.button {
  border: 2px solid var(--color-highlight);
  border-radius: 6px;
  transition: all 300ms ease;
  cursor: pointer;
  color: var(--color-text);
}
.button:hover,
.button.router-link-active {
  background-color: var(--color-highlight);
  color: var(--color-background);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1200px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  #app {
    padding-block: 4rem;
    grid-template-rows: none;
    grid-template-columns: 300px auto;
    justify-items: center;
    align-items: center;
    gap: 2.5vw;
  }
}

.spark-tables {
  width: 100%;
}
.page-title {
  font-size: 1.65em;
  font-weight: 700;
  text-align: center;
  /* background-color: var(--color-background-mute); */
  padding: 0.5rem;
  /* letter-spacing: 0.05em; */
}
@media (min-width: 1200px) {
  .page-title {
    margin-top: 1.5em;
    font-size: 1.8em;
  }
}

.spark-tables__content {
  display: grid;
  grid-template-columns: 100%;
  gap: 0.5rem;
  margin-block-start: 1rem;
}
@media (min-width: 650px) {
  .spark-tables {
    width: auto;
    flex: 1;
  }
}
@media (min-width: 900px) {
  .spark-tables {
    flex: unset;
  }
  .spark-tables__content {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .spark-tables {
    width: 100%;
  }
  /* .spark-tables__content {
    gap: 1rem;
  } */
}
