@import './base.css';

#app {
  max-width: 95vw;
  margin: 0 auto;
  padding-block: 2rem;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

h1 {
  font-family: var(--font-blackletter);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
  }
}
